*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    
}
header{
    display: flex;
    background-color: black;
    justify-content: flex-end;
    align-items: flex-start;
    height: 8vh;
    
}   
.speaker-container{
                 color:white;
                 padding: 0.5em;
                 text-align: center;
                 
} 
.speaker-container span{
            background-color: rgb(41, 41, 41);
            padding: 0.2em;
            font-size: smaller;
            
            
}    
main{
    height: 84vh;
    background-color: black;
    position: relative;
    display: flex;
    justify-content: center;
    
}

.container-webcam{
                  max-height: 800px;
                  padding:1em;
                  max-width: 1400px;
                  display: flex;
                  flex-wrap: wrap;
                  gap: 0,2em;
}
.webcam{
        width:14%;
        max-height:25%;
        font-size: 14px;
        position: relative;
}
.webcam img{
            object-fit: contain;
            width: 179px;
            height: 133px;
}
.user-name{
            position: absolute;
            bottom: 35px;
            left: 5px;
            color: white;
            
}        
footer{
        height: 8vh;
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        background-color: rgb(41, 41, 41);
        width: 100vw;
}
footer i{
        font-size: 30px;
}
footer span{
            font-size: 12px;
}

.footer-start{
              color: white;
              width: 200px;
              display: flex;
              flex-wrap: nowrap;
              justify-content: center;
              align-items: center;
              gap: 1em;
              padding: 0.5em;
              text-align: center;
              
}
              
       
        


           



                          
               


                        





                  

                    

